// Main colors
$darkgray: #434343;
$white: #ffffff;
$gray: #666666;
$lightgray: #ece9e6;

// Accent colors
$yellow: #ffb600;
$orange: #ff8400;
$salmon: #fa5e5e;
$pink: #e42a87;
$violet: #b143c7;
$purple: #7241b4;
